.dataTable
{
    max-width: 790px;
    overflow: auto;
    max-height: 210px;
    margin-left: 50px;
}
.btn-submit
{
    background-color: #28A745;
    color: white;
    justify-content: center;
    align-items: center;
    padding: 4.5px 12.5px;
    gap: 10px;
    width: 85px;
    height: 24px;
    border-radius: 20px;
    order: 1;
    border: none;
}

.btn-due
{
    background-color: #DD3646;
    color: white;
    justify-content: center;
    align-items: center;
    padding: 4.5px 12px;
    gap: 10px;
    width: 55px;
    height: 24px;
    border-radius: 20px;
    border: none;
}
