.autotextcontainer{
    
    height: 100%;
    width: 100%;
   border: 1px solid gray;
}
.autotextinput{
    width: 100%;
    border: none;
    padding:10px 5px;
    box-sizing: border-box;
    outline: none;
    height:35px
}

.autotextul{
    list-style-type: none;
    text-align: left;
    margin: 0;
    padding: 0;
    border: solid 1px gray;
}
.autotextul ::before{
    content: "";
}
.autotextli{
    padding:10px 5px;
    cursor: pointer;
   
}
.autotextli:hover{
    text-decoration: underline;
    background-color: lavender;
}