@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');

input#search{
    box-sizing: border-box;
	font-size: 13px;
    width: 186px;
    height: 34px;
    background: #FFFFFF;
    border: 1px solid #E4E5E7;
    border-radius: 4px;
    background: url("../images/Search.png") 7px 9px no-repeat;
    padding-left:30px;
}
input#filter-but{
    justify-content: center;
    align-items: center;
    padding: 7px 10px;
    width: 34px;
    height: 34px;
    right: 125px;
    top: 0px;
    background: #FFFFFF;
    border: 1px solid #E4E5E7;
    box-sizing: border-box;
    border-radius: 4px;
    margin: 0px 5px;
    background: url("../images/filter-icon.png");
    order: 3;
}
input#filter-but::selection{
    background: #EFF0F1;
}
input#sort-but{
    justify-content: center;
    align-items: center;
    padding: 7px 10px;
    width: 34px;
    height: 34px;
    right: 125px;
    background: #FFFFFF;
    border: 1px solid #E4E5E7;
    box-sizing: border-box;
    border-radius: 4px;
    margin: 0px 5px;
    background: url("../images/sort-icon.png");
}
button#add-but{
    width: 81px;
    height: 34px;
    box-sizing: border-box;
    background: #F55533;
    border-radius: 4px;
    font-family: 'Inter';
    font-size: 14px;
    color: #FFFFFF;
    letter-spacing: 1px;
    border-style: none;
}
.Feature:hover{
    cursor:pointer;
}
#search::placeholder{

    font-family: 'Inter';
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    color: #BDC1C6;
    align-items: center;
}

div#add-box{
    padding-right: 1%;
}
div.Features{
    display: flex;
    flex-direction: row-reverse;
    position: relative;
    top: 12px;
    overflow: inherit;
}
div#filter-name{
    font-family: 'Inter';
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 112.69%;
}
div#filter-pop-head{
    position: relative;
    display: flex;
    flex-direction:row;
}
div.filter-popup#filter-pop{
    width: 445px;
    height: 212px;
    background: #FFFFFF;
    box-shadow: 0px 5px 26px rgba(32, 33, 36, 0.25);
    border-radius: 6px;
    padding: 15px;
}

button#clear{
    position: relative;
    border-style: none;
    background: #FFFFFF;
    left: 110px;
    height: 34px;
    color: #9AA0A6;
    font-family: 'Inter';
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;

}
button#save-view-btn{
    position: relative;
    left: 117px;
    padding: 7px 20px;
    width: 158px;
    height: 34px;
    background: #EFF0F1;
    border: 1px solid #BDC1C6;
    box-sizing: border-box;
    border-radius: 4px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 20px;
}

input#name-filter{
    border: 1px solid #E4E5E7;
    position: relative;
    top: 4px;
    box-sizing: border-box;
    background-repeat: no-repeat;
    background-color: #FFFFFF;
    border-style: none;
    width: 15px;
    height: 16px;
    background-image: url("../images/list_view.png");
}
span#fil-name{
    font-weight: bold;
}
span#fil-name:hover{
    cursor: pointer;
}
button#clear:hover{
    cursor: pointer;
}
div.filter-popup{
    position: relative;
}
div#filter-query{
    position: relative;
    padding-top: 15px;
}
div#filter-query>span{
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    padding-right: 10px;
}
select.query{
    height: 34px;
    width: 148px;
    text-align: center;
    background: #FFFFFF;
    border: 1px solid #BDC1C6;
    box-sizing: border-box;
    border-radius: 4px;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #202124;
}

.qst-btn{
    align-items: center;
    padding: 2px 0px;
    width: 144px;
    height: 26px;
    border-radius: 2px;
    margin-top: 10px;
}
.drop{
    padding: 7px 14px;
    margin-right: 10px;
    width: 134px;
    height: 76px;
    left: 1160px;
    top: 90px;
    background: #FFFFFF;
    box-shadow: 0px 4px 12px 2px rgba(32, 33, 36, 0.12);
    border-radius: 4px;
}
.csv-btn{
    width: 144px;
    height: 26px;
    padding: 2px 0px;
    border-radius: 2px;
    margin-top: -12px;
}
.qst-btn:hover{
    background-color: #eff0f2;
    cursor: pointer;
    width:150px;
    margin-right:4px
}
.csv-btn:hover{
    background-color: #eff0f2;
    cursor: pointer;
    width: 150px;
}
.csv_submit_button:hover{
    cursor: pointer;
}

input[type=file]::file-selector-button {
    width: 101px;
    height: 34px;
    box-sizing: border-box;
    background: #F55533;
    border-radius: 4px;
    font-family: 'Inter';
    font-size: 14px;
    color: #FFFFFF;
    letter-spacing: 1px;
    border-style: none;
  }
  input[type=file]::file-selector-button:hover {
    background-color:#e96547;
    
  }
  
.add_popup{

    background: #FFFFFF;
    box-shadow: 0px 4px 12px 2px rgb(32 33 36 / 12%);
    border-radius: 4px;

}

.creatquestion_in_popup{
  
    padding: 10px 10px;
    border-radius: 2px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    color: #202124;
    
}
.import_csv_in_popup{
    padding: 10px 10px;
    border-radius: 2px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    color: #202124;
}
.import_csv_in_popup:hover{
    background-color:#EFF0F1;
    cursor: pointer;
}
.creatquestion_in_popup:hover{
    background: #EFF0F1;
    cursor: pointer;
}
.csv_upload_form{

    position: relative;
    top: 97px;
    border: 2px dotted #F55533;
    width: 499px;
    left:300px;
    padding: 123px 50px 111px 8px;
}
.csv_submit_button{
    width: 81px;
    height: 34px;
    box-sizing: border-box;
    background: #F55533;
    border-radius: 4px;
    font-family: 'Inter';
    font-size: 14px;
    color: #FFFFFF;
    letter-spacing: 1px;
    border-style: none;
    position: relative;
    left: 132px;
    top: -31px;
    

}
.csv_submit_button:hover{
    cursor: pointer;
}

input[type=file]::file-selector-button {
    width: 101px;
    height: 34px;
    box-sizing: border-box;
    background: #F55533;
    border-radius: 4px;
    font-family: 'Inter';
    font-size: 14px;
    color: #FFFFFF;
    letter-spacing: 1px;
    border-style: none;
  }
  input[type=file]::file-selector-button:hover {
    background-color:#e96547;
    
  }
