.loginPage {
    background-color: rgb(255, 255, 255);
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
  }
  .loginForm {
    position: absolute;
    left: 35%;
    right: 35%;
    border-style: outset;
    border-color: rgb(38, 125, 201);
    background-color: rgba(0, 0, 0, 0.15);
    bottom: 10%;
    top: 10%;
  }

.faButtonStyle{
    font-size:36px;
}