.header
{
  position: fixed;
  background-color: #F8F9FA;
  top: 0;
  width: 100%;
  height: 50px;
}

.logo 
{
  height: 26px;
  margin: 10px;
  float: left;
}

.logInProfile 
{
  border-radius: 50px; 
  height: 35px;
  position: absolute;
  right: 75px;
  top:7px
}

#logInName 
{
  color: black;
  font-size: 20px;
  font-weight: bolder;
  font-family: Inter;
  position: absolute;
  right: 120px;
  top: 10px;
}

.logoutLink{
  float: right;
  text-decoration: none;
  margin:10px;
  font-weight: 500;
  font-size: 12px;
  font-family: Inter;
  font-style: normal;
  font-size: larger;
  color: gray;
}