.homePage {
    display: flex;
    flex-direction: column;
    margin-top: 70px;
    overflow: auto;
}

.lpPathSection {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 20px 0px;
    height: calc(100vh - 33vh)
}

.learningPath {
    background: #F8F9FA;
    box-shadow: 0px 1px 0px #EFF0F1;
    overflow: auto;
    width: 65%;
    text-align: left;
}

.lpTitle {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    color: #000000;
    padding: 10px;
    margin-left: 20px;
}

.lpModule {
    padding: 15px 6px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    background: white;
    margin: 0 27px 20px;
    box-shadow: 2px 5px 4px #EFF0F1;
}

.lpModuleTitle {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    color: #000000;
    position: relative;
    left: 13px;
}

.lpModuleDate {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 27px;
    color: #000000;
    position: relative;
    right: 60px;
}

.lpModuleDropdownIcon {
    font-size: 30px;
    font-weight: 700;
    font-style: normal;
    font-family: 'Poppins';
    position: relative;
    left: 20px;
    top: 3px
}