body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.logo {
  height: 50px;
  border-radius: 25px;
  margin: 10px;
}

nav {
  width: 100%;
}

.nav-item {
  display: inline-flex;
  position: absolute;
  left: 5px;
}

.navHeader {
  display: block;
  background-color: gray;
  height: 65px;
  width: 100%;
}

.logout {
  display: inline-flex;
  position: absolute;
  right: 10px;
  top: 20px;
  font-weight: bolder;
  font-size: larger;
}


.main-container {
  min-height: 100vh;
  display: flex;
  margin-top: 10px;
}

.problem {
  width: 100%;
  height: 100vh;
  padding-bottom: 110px;
  background-color: aliceblue;
  overflow: hidden;
}

.selector {
  display: flex;
  justify-content: space-between;
  margin: 10px;
  width: 100%;
}
.selectLanguage{
  margin-right: 20px;
}

.codeEditor {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background: #000;
  color: #fff;
}

.runBtn {
  width: 100px;
  margin-top: 10px;
  background: blue;
  color: white;
  padding: 10px;
  outline: none;
  border: none;
}

.outputWindow {
  min-height: 100vh;
  padding-bottom: 90px;
  background-color: lightblue;
  color: #000;
  text-align: left;
}

.outputHead {
  background-color: #000;
  color: #fff;
  margin-top: 0PX;
  padding: 5px 0;
}

.split {
  display: flex;
  flex-direction: row;
}

.gutter {
  background-color: #eee;
  background-repeat: no-repeat;
  background-position: 50%;
}

.gutter.gutter-horizontal {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAeCAYAAADkftS9AAAAIklEQVQoU2M4c+bMfxAGAgYYmwGrIIiDjrELjpo5aiZeMwF+yNnOs5KSvgAAAABJRU5ErkJggg==');
  cursor: col-resize;
}


footer {
  background-color: gray;
  text-align: center;
  position: relative;
  height: 50px;
  width: 100%;
  top: 15px;
}

.bottom {
  position: absolute;
  top: 15px;
}

a {
  text-decoration: none;
}